<h1>Editing ping result</h1>

<%= render "form", ping_result: @ping_result %>

<br>

<div>
  <%= link_to "Show this ping result", @ping_result %> |
  <%= link_to "Back to ping results", ping_results_path %>
</div>
